div(data-role='panel' id='panelProjects' data-display='overlay' )
	ul(data-role="listview")
		li
			a(data-rel="close").ui-icon-delete #{__i("Pubblicazioni")}
		li(style="padding:0;border:none;")
			div(data-role="navbar")
				ul
					li
						a(href="#popupAddProject" data-icon="plus" data-rel="popup" data-position-to="window" data-transition="pop") #{__i("Nuova")}
					li
						a(id="buttonDelProject" href="#popupDelProject" data-icon="minus" data-rel="popup" data-position-to="window" data-transition="pop") #{__i("Canc.")}
					li
						a(id="buttonModifyProject" href="#popupModifyProject" data-icon="pencil" data-rel="popup" data-position-to="window" data-transition="pop") #{__i("Mod.")}
					li
						a(id="buttonCloneProject" data-icon="files-o") #{__i("Duplica")}
		li(id="empty-projects" data-role="list-divider")
			p  #{__i("Non hai ancora pubblicazioni su cui lavorare.")}
		li(data-role="list-divider")
	div(style="height:16px;")
	ul(data-role="listview" id='panelProjectsListview' data-autodividers="true"  data-filter='true' data-filter-placeholder='#{__i("Cerca per titolo")}')
	div(style="height:32px;")
	ul(data-role="listview")
		li(data-role="list-divider")


	div(data-role="popup" id="popupAddProject")
		form(id="addProjectForm")
			div(role="main").ui-content
				h3 #{__i("Nuova pubblicazione")}
				label(for="name") #{__i('Titolo')}
				input(type="text" name="name" id="name" value="")
				p(id="addProjectErrormsg" style="display:none;").ui-bar.ui-bar-a
				a(id="addProjectButton").ui-btn.ui-icon-cloud-upload.ui-btn-icon-right.ui-shadow.ui-corner-all.ui-btn-inline #{__i('Crea')}
				a(href="#" data-rel="back").ui-btn.ui-icon-delete.ui-btn-icon-right.ui-shadow.ui-corner-all.ui-btn-inline #{__i('Annulla')}

	div(data-role="popup" id="popupModifyProject")
		form(id="modifyProjectForm")
			div(role="main").ui-content
				h3 #{__i("Modifica pubblicazione")}
				label(for="name") #{__i('Titolo')}
				input(type="text" name="name" id="name" value="")
				label(for="spline") #{__i('Titolo sul dorso')}
				input(type="text" name="spline" id="spline" value="")
				p(id="modifyProjectErrormsg" style="display:none;").ui-bar.ui-bar-a
				a(id="modifyProjectButton").ui-btn.ui-icon-cloud-upload.ui-btn-icon-right.ui-shadow.ui-corner-all.ui-btn-inline #{__i('Salva')}
				a(href="#" data-rel="back").ui-btn.ui-icon-delete.ui-btn-icon-right.ui-shadow.ui-corner-all.ui-btn-inline #{__i('Annulla')}

	div(data-role="popup" id="popupDelProject")
		div(role="main").ui-content
			h3.ui-title(id='currentProjectTitle')
			p #{__i('Sicuro di voler eliminare questa pubblicazione e tutte le sue immagini?')}
			a(id="delProjectButton" data-icon="minus" data-rel="back").ui-btn.ui-icon-minus.ui-btn-icon-right.ui-shadow.ui-corner-all.ui-btn-inline #{__i('Elimina')}
			a(href="#" data-rel="back").ui-btn.ui-icon-delete.ui-btn-icon-right.ui-shadow.ui-corner-all.ui-btn-inline #{__i('Annulla')}

	div(data-role="popup" id="popupAddProjectSure")
		div(role="main").ui-content
			h3 #{__i("Modifiche non salvate.")}
			p #{__i("Attenzione ci sono modifiche non salvate per la pubblicazione aperta, se si procede andranno perse. Continuare?")}
			a(id="popupAddProjectSureButton").ui-btn.ui-icon-check.ui-btn-icon-right.ui-shadow.ui-corner-all.ui-btn-inline #{__i('Continua')}
			a(href="#" data-rel="back").ui-btn.ui-icon-delete.ui-btn-icon-right.ui-shadow.ui-corner-all.ui-btn-inline #{__i('Annulla')}

	div(data-role="popup" id="popupOrderProject")
		div(role="main").ui-content
			div(id="popupOrderProjectResult")
				h3 #{__i("Complimenti, l'ordine è iniziato!")}
				p #{__i("L'ordine è stato salvato. Ora devi cliccare questo bottone per andare nel tuo account presso il nostro negozio: da li puoi rivedere il dettaglio dell'ordine, specificare o modificare gli indirizzi di spedizione e fatturazione, ed effettuare il pagamento per finalizzare l'acquisto.")}
				a(href="http://#{sbam.config.wpSiteUrl}/my-account" target="_blank").ui-btn.ui-icon-shop.ui-btn-icon-right.ui-shadow.ui-corner-all.ui-btn-inline #{__i("Procedi su")} #{platform} 
			div(id="popupOrderProjectContent")
				h3 #{__i("Ordina la stampa della tua pubblicazione.")}
				p #{__i("Per ricevere a casa la stampa del tuo progetto, devi solo decidere quante copie vuoi, inserire eventuali coupon in tuo possesso, e premere 'Ordina' per proseguire nell'acquisto.")}
				form
					table
						tr
							td
								label(for="orderQty") Nr. copie:&nbsp;
							td
								input(type="text" id="orderQty" name="orderQty" value="1").orderQtyInputCont
							td &nbsp;&nbsp;&nbsp;
							td
								label(for="orderCouponCode") Coupon (codice):&nbsp;
							td
								input(type="text" id="orderCouponCode" name="orderCouponCode" value="1").orderCouponCodeInputCont
				div(id="orderContainer" role="main").ui-body.ui-body-a.ui-corner-all
				a(id="orderProjectButton").ui-btn.ui-icon-shop.ui-btn-icon-right.ui-shadow.ui-corner-all.ui-btn-inline #{__i('Ordina')}
				a(href="#" data-rel="back").ui-btn.ui-icon-delete.ui-btn-icon-right.ui-shadow.ui-corner-all.ui-btn-inline #{__i('Chiudi')}
				if fromadmin == 'yes'
					hr
					a(id="printProjectButton").ui-btn.ui-icon-print.ui-btn-icon-right.ui-shadow.ui-corner-all.ui-btn-inline #{__i('Genera PDF')}
					a(id="mainPdfDownloadLink" target="_blank" style="display:none;").ui-btn.ui-icon-check.ui-btn-icon-right.ui-shadow.ui-corner-all.ui-btn-inline #{__i('Scarica PDF')}
					a(id="coverPdfDownloadLink" target="_blank" style="display:none;").ui-btn.ui-icon-check.ui-btn-icon-right.ui-shadow.ui-corner-all.ui-btn-inline #{__i('Scarica PDF coperta')}
					a(id="coverletPdfDownloadLink" target="_blank" style="display:none;").ui-btn.ui-icon-check.ui-btn-icon-right.ui-shadow.ui-corner-all.ui-btn-inline #{__i('Scarica PDF sovracoperta')}
					a(id="stickersPdfDownloadLink" target="_blank" style="display:none;").ui-btn.ui-icon-check.ui-btn-icon-right.ui-shadow.ui-corner-all.ui-btn-inline #{__i('Scarica PDF figurine')}
					a(id="orderPdfDownloadLink" target="_blank" style="display:none;").ui-btn.ui-icon-check.ui-btn-icon-right.ui-shadow.ui-corner-all.ui-btn-inline #{__i('Scarica PDF ordine')}


