div(data-role='panel' id='panelPages' data-display="overlay" )
	ul(data-role="listview" )
		li
			a(data-rel="close").ui-icon-delete #{__i("Pagine")}
		li(style="padding:0;border:none;")
			div(data-role="navbar")
				ul
					li
						a(id="buttonAddPage" data-icon="plus") #{__i("Aggiungi")}
					li
						a(id="buttonDelPage" href="#popupDelPage" data-icon="minus" data-rel="popup" data-position-to="window" data-transition="pop") #{__i("Elimina")}
		li(id="empty-pages" data-role="list-divider")
			p  #{__i("La tua pubblicazione non ha nessuna pagina.")}
		li(data-role="list-divider")
	ul(data-role="listview" id='panelPagesListview' style='position:relative;top:16px;')
			
			
	div(data-role="popup" id="popupDelPage")
		div(role="main").ui-content
			h3.ui-title(id='currentPagesLabel')
			p #{__i('Sicuro di voler eliminare queste pagine?')}
			a(id="delPageButton" data-icon="minus" data-rel="back").ui-btn.ui-icon-minus.ui-btn-icon-right.ui-shadow.ui-corner-all.ui-btn-inline #{__i('Elimina')}
			a(href="#" data-rel="back").ui-btn.ui-icon-delete.ui-btn-icon-right.ui-shadow.ui-corner-all.ui-btn-inline #{__i('Annulla')}
