extends layout

block content

	div(data-role='page' id='page-login' data-url='/login').vertScrollable 
		include includes/appHeaderMinimal
		div(role='main').ui-content
			//div.ui-grid-a
			//div.ui-block-a
			include includes/formLogin
			//div.ui-block-b
			div.ui-body
				p #{__i("Inserire Nome utente e Password ricevuti all'atto di iscrizione al negozio.")} 
				p #{__i("Effettuando l'accesso potrete salvare i vostri progetti nel vostro account, e potrete vederli anche da altri device.")} 
				p #{__i("Non siete registrati? Fatelo subito gratuitamente andando al nostro negozio:")} 
					a(href="http://#{sbam.config.wpSiteUrl}/my-account",target="_blank") #{sbam.config.wpSiteUrl}
				//div(data-role="collapsible")
					//h3 Help
